html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Canadara';
  src: url('/public/fonts/Canadara.ttf');
}
@font-face {
  font-family: 'calibri';
  src: url('/public/fonts/CalibriRegular.ttf');
}
html * {
  font-family: 'calibri', serif;
}
.color {
  color: #009f92;
}
.border-global {
  border-bottom: 3px solid #009f92;
}
